<div style="text-align: center; min-height: 550px; vertical-align: top;">
        {{ range $index, $item := $.Page.Params.puzzles }}
            <button class="{{ if eq $index 0 }}bttn-selected{{ else }}bttn{{ end }}" onclick="loadTsumego({{$item.target}}, {{$item.id}}, tsumego)" id="{{$item.id}}">{{ $item.text }}</button>
        {{ end }}
    <br><br>
    <p class="text-sm italic" style="margin-bottom: 0px;">Black to play</p>

    <div class="tsumego" id="tsumego_wrapper" style="text-align: left;">
    
    Your browser sucks. Download something up to date.
    </div>
    
    <script>
    var tsumego = new WGo.Tsumego(document.getElementById("tsumego_wrapper"), {
        sgfFile: "/puzzleSGFs/{{(index $.Page.Params.puzzles 0).target}}.sgf",
			{{with .Get "show"}}
		debug: true, 
			{{ end }}
    });
    tsumego.setCoordinates(true);
    </script>
</div><br>