<div id="victory" style="position: absolute; background: rgba(0,0,0,0.9); left: 0px; top: 0px; width: 100%; height: 100%;">
<div style="position: absolute; left: 0px; top: 35%; width: 100%; background: white; text-align: center;">
<h1>Amazing job</h1>
Great work, <script>document.write(getCookie("firstName"))</script>
<img id="sam" src="/images/kids/title.png" style="position: absolute; left: 0px; bottom: 0px; width: 300px;">
<h1 id="stars" style="font-size: 1px; color: gold">★<span style="display: inline-block;transform: scale(1.5,1.5);">★</span>★<h1>
<a href="/kids/{{ $.Page.Params.next }}" style="z-index: 9;"><h2>Next lesson</h2></a>
</div></div>